<!DOCTYPE html>
<html>

<head>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<title>{{.PageTitle}}</title>
</head>

<script type='text/javascript'>
 $(document).ready(function() {
   $('input[name=animalselect]').change(function(){
     $('form').submit();
   });
});
</script>
<body>
  {{with $1:=.RadioButtons}}
  <p> Which do you prefer</p>

    <form action="/displayresult" method="post">
         {{range $1}}
           <input type="radio" name={{.Name}} value={{.Value}} {{if .IsDisabled}}disabled="true"{{end}} {{if .IsChecked}}checked{{end}}> {{.Text}}
         {{end}}
    </form>
  {{end}}

  {{with $2:=.Answer}}
    <p>Your answer is {{$2}}</p>
  {{end}}

</body>
</html>